.go__back__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
    width: 10vh;
    text-decoration: none;
    border: 1px solid black;
    color: black;
    text-align: center;
    margin: auto;
}

.go__back__link:hover{
    color: blue;
}

.note__name{
    display: flex;
    margin: 0;
    position: relative;
    top: 10px;
    left: 10px;
}

.date{
    display: flex;
    position: relative;
    bottom: 0px;
    left: 0px; 
}

.delete_button{
    position: relative;
    bottom: 0px;
    right: 0px;
}